PORT=5000
DB_USER=sa
DB_PASSWORD=your_strong_password
DB_SERVER=localhost
DB_NAME=CineSocial
JWT_SECRET=super_secret_jwt_key_here
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmNTNiY2FmZTcxZGYyZmIyZDZjYzQ4ODJlNGQwNjM2ZSIsIm5iZiI6MTc3NzgzNjQ3NC4yNzIsInN1YiI6IjY5ZjdhMWJhMWM2OTExZDlhODdkMTQxOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-IfI9gfklQiz3_EDw_U9upIHb1x6yqUddbTSSsdTPLY
ADMIN_JWT_SECRET=super_secret_admin_jwt_key_here
